<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<form action="getUrls" class="form-inline" method="post">
  <label style="padding-left:4%;padding-top:4%">You can give Rss URl of your wish(for example just click)</label><br>
  <div class="form-group" style="padding-left:4%;padding-top:2%">
    <input type="text" class="form-control" name="urlname" value="http://feeds.bbci.co.uk/news/rss.xml"/>
    <button type="submit" value="getUrls" class="btn btn-success">Send RSS</button>
  </div> 
</form>
</body>
</html>