<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<form id="form" action="signUP" onsubmit="javascript:return validate();" class="form-inline" method="post"> 
  <label style="padding-left:4%;padding-top:4%">It seems you don't have any account with us!.Please Sign Up.</label><br>  
  <div class="form-group" style="padding-left:4%;padding-top:2%">
    <input type="text" class="form-control" name="username" placeholder="Enter UserName"/>
    <input type="text" class="form-control" name="password" placeholder="Enter Password"/>
    <button type="submit" value="validateLogin" class="btn btn-success" >SignUP</button>
  </div> 
</form>
<script>
function validate(){
	var username = document.getElementById("form").elements.namedItem("username").value;
	if(username==""){
	 alert("Enter Username!");
	  return false;
	}
	var password=document.getElementById("form").elements.namedItem("password").value;
	if(password==""){
	 alert("Enter Password!");
	  return false;
	}
}
</script>
</body>
</html>